In [1]:
import numpy as np
import pandas as pd
from io import StringIO

In [2]:
csv_data = '''A,B,C,D
... 1.0,2.0,3.0,4.0
... 5.0,6.0,,8.0
... 10.0,11.0,12.0,'''
df = pd.read_csv(StringIO(csv_data))
print(df)

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [3]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [5]:
# Drop rows with missing values
print(df.dropna(axis=0))
# Drop columns with missing values
print(df.dropna(axis=1))
# Drop rows with all values missing
print(df.dropna(how='all'))
# Drop rows that have fewer than 4 real values
print(df.dropna(thresh=4))
# Drop rows where NaN appeas in specific columns
print(df.dropna(subset=['B', 'C']))

     A    B    C    D
0  1.0  2.0  3.0  4.0
      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0
      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
     A    B    C    D
0  1.0  2.0  3.0  4.0
      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN