In [1]:
import pandas as pd
from io import StringIO

In [2]:
csv_data = '''A,B,C,D
... 1.0,2.0,3.0,4.0
... 5.0,6.0,,8.0
... 10.0,11.0,12.0,'''

df = pd.read_csv(StringIO(csv_data))

In [3]:
# Show number of null vlaues per column
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [4]:
# Drop rows with missing values
# df.dropna(axis=0)

In [5]:
# Drop columns with missing values
df.dropna(axis=1)

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

In [6]:
# Only drop rows where all columns are missing
df.dropna(how='all')

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [7]:
# Drop rows that have fewer than the threshold of real values
df.dropna(thresh=4)

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [8]:
# Only drop rows where NaN appear in specific columns
df.dropna(subset=['B','C'])

      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN